extend layout

block content
  p
    |  #{title}:
  p
    table
      thead
        tr 
          th Country 
          td &nbsp
          th Years
      tbody 
        -for (var inx = 0; inx < results.length; inx++)
          tr
            td=results[inx].cname
            td &nbsp
            td=results[inx].years