<link rel="stylesheet" type="text/css" href="/css/style.css" />

<h1>CIS 550 Final Project</h1>
<h2>Soccer Data</h2>
<div id="nav">
  <p><a href="/allThreeWins">Teams that Have Won All 3 Tournaments</a></p>
  <p><a href="/mostFinalRoundWins">Teams that Have Won The Most Tournaments</a></p>
  <p><a href="/leastFinalRoundWins">Teams that Have Won The Least Tournaments</a></p>
  <p><a href="/noWinsSince1950">Teams Active Since 1950 that Have Not Won Any Tournaments</a></p>
  <p><a href="/playersOnMostTeams">Players that Have played in the most teams</a></p>
  <p><a href="/noFinalsTeams">Countries that Have Hosted the Most Tournaments</a></p>
</div>

<script src="/js/jquery-1.11.3.js"></script>
