extend layout
block content
  h1 CIS 550 Final Project
  h2 Soccer Database
  h3 Parmtech
  +nav_item("/allThreeWins") Teams that Have Won All 3 Tournaments
  +nav_item("/mostFinalRoundWins") Teams that Have Won The Most Tournaments
  +nav_item("/leastFinalRoundWins") Teams that Have Won The Least Tournaments
  +nav_item("/noWinsSince1950") Teams Active Since 1950 that Have Not Won Any Tournaments
  +nav_item("/playersOnMostTeams") Players that Have played in the most teams
  +nav_item("/hostedMost") Countries that Have Hosted the Most Tournaments
  p
  form(name="add-estimation", method="get", action='/hasCountryWonTournament')
    |  Has 
    input(name='countryName', value='', placeholder='Enter Country')
    |  Won 
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    | ?    
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/howDidCountryDoInYearInTournament')
    |  How did country
    input(name='countryName', value='', placeholder='Enter Country')
    |  do in year
    input(name='year', value='', placeholder='Enter Year')
    |  in tournament
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    | ?
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/didCountryMakeItToFinalRound')
    |  Has country
    input(name='countryName', value='', placeholder='Enter Country')
    |  made it to the final round in tournament 
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    | ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/countryWinPercentage')
    |  What is
    input(name='countryName', value='', placeholder='Enter Country')
    |  's win percentage in tournament 
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    | ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/countryAgainstCountryInTournament')
    |  How has country 
    input(name='countryNameOne', value='', placeholder='Enter Country One')
    |  done against country 
    input(name='countryNameTwo', value='', placeholder='Enter Country Two')
    |  historically in tournament
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    | ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/hasCountryPastGroupStage')
    |  Has country 
    input(name='countryName', value='', placeholder='Enter Country')
    |  ever made it past the group stages in tournament 
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    | ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/whoWasOnTeamInCountry')
    |  Who was on the team for country 
    input(name='countryName', value='', placeholder='Enter Country')
    |  in tournament 
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    |  in year 
    input(name='year', value='', placeholder='Enter Year')
    |  ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/whatYearsDidPlayerPlayInTournament')
    |  In what years did player 
    input(name='playerName', value='', placeholder='Enter Player')
    |  play in tournament 
    input(name='tournamentName', value='', placeholder='Enter Tournament')
    |  ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/whatCountriesDidPlayerPlayFor')
    |  What countries did player 
    input(name='playerName', value='', placeholder='Enter Player')
    |  play for? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/whatCountryWonInTournamentInYear')
    |  Which country won in tournament 
    input(name='tournamentName', value='', placeholder='Enter Player')
    |  in year 
    input(name='year', value='', placeholder='Enter Year')
    |  ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/fromWhichCountryIsPlayer')
    |  Which country is player
    input(name='playerName', value='', placeholder='Enter Player')
    |  from ? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/howManyTournamentsHasCoachWon')
    |  How many tournaments has coach
    input(name='coachName', value='', placeholder='Enter Coach')
    |  won? 
    input(type='submit', value='Enter Query')
  p
  form(name="add-estimation", method="get", action='/howManyTeamsHasCoachWorkedFor')
    |  How many teams has coach
    input(name='coachName', value='', placeholder='Enter Coach')
    |  worked for? 
    input(type='submit', value='Enter Query')

