extend layout
block content
  h1 CIS 550 Final Project
  h2 Soccer Database
  h3 Parmtech
  +nav_item("/allThreeWins") Teams that Have Won All 3 Tournaments
  +nav_item("/mostFinalRoundWins") Teams that Have Won The Most Tournaments
  +nav_item("/leastFinalRoundWins") Teams that Have Won The Least Tournaments
  +nav_item("/noWinsSince1950") Teams Active Since 1950 that Have Not Won Any Tournaments
  +nav_item("/playersOnMostTeams") Players that Have played in the most teams
  +nav_item("/hostedMost") Countries that Have Hosted the Most Tournaments