extends ../node_modules/jade-bootstrap/_bootstrap
block body
  header
  .container
    .jumbotron
      .main-content
        block content
  footer.footer
    .container
      p.text-muted Created by Pranav, Anish, Rachel & Mia