extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	link(href='../css/navbar-static-top.css', rel='stylesheet')
block body
	header
	.container
		.jumbotron
			.main-content
				block content
	footer.footer
		.container
			p.text-muted Running on coffee...